#contenedor{
    width: 500px;
    height: 200px;
    justify-content: center;
    display: flex;
    background-color: rgb(220, 245, 240);
}
.tarea{
    display: flex;
    align-items: center;
    width: 80px;
    height: 40px;
    background-color:rgb(226, 43, 134);
}