<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
</head>
<header>
    <h1>Formulario</h1>
</header>
<body>
   <form id="formulario" action="">
       <label for="Nombre">Nombre completo:</label>
       <input type="texto" id="Nombre" name="Nombre completo:"><br>
    
       <label for="Edad">Edad:</label>
       <input type="texto" id="Edad" name="Edad" placeholder="Introduce tu edad"><br>
    
       <label>Codigo Postal:</label>
       <label for="Codigo postal">Código postal:</label>
       <input type="texto" id="codigo postal" name="Codigo postal" placeholder="Ingresa ru codigo postal:xxxxx"><br><br>
     
       <label>Género:</label><br>

       <label for="Masculino">Masculino</label>
       <input type="radio" id="Masculino" name="genero" value="Masculino">
       <label for="Femenino">Femenino</label>
       <input type="radio" id="Fmemenino" name="genero" value="Femenino">
       <label type="Otro">Otro</label>
       <input type="radio" id="Otro" name="genero" value="Otro"><br>

        <label for="Intereses">Intéreses (selecciona los que apliquen):</label>
        <input type="checkbox" id="Tecnología" name="Interéses">
        <label for="Tecnología">Tecnología</label>
        <input type="checkbox" id="Deportes" name="Interéses">
        <label for="Deportes">Deportes</label>
        <input type="checkbox" id="Música" name="Interéses">
        <label for="Música">Música</label>
        <input type="checkbox" id="Arte" name="Interéses">
        <Label for="Arte">Arte</Label><br>
        
        <label for="país" >Seleccion tu país</label>
        <selecy id="país">

        <label for="Comentarios">Comentarios Adicionales:</label>

        <label for="Imágen">Subir imágen:</label>

    </form> 
<script>
    const NombreCompleto= document.getElementById("Nombre").value;
    console.log("Nombre", nombre)
</script>
</body>
</html>