<!DOCTYPE html>
<html>
    
<head>
    <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\HP\Downloads\Mia-Falcon\tareas.css">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Tareas</h1>
    
<section id="contenedor">
    <div id="botones"></div>
        <button class="tarea" id="Agrega" onclick= "agregatarea()">Agregar tarea</button>
        
        <button class="tarea" id="quita">Eliminar Tarea</button>
    <div id="Tarea1" class="Tarea"></div>
    </body>
<script>
        function agrega(){
            document=getElementById("Agrega");
        }
</script>

</html>